$TTL    604800
@       IN      SOA     {{ zone_ns }} {{ zone_admin_email }} (
                          {{ ansible_date_time.epoch }}  ; Serial
                              604800  ; Refresh
                               86400  ; Retry
                             2419200  ; Expire
                              604800 ); Negative Cache TTL

@       IN      NS      {{ zone_ns }}

{% for record in zone_records %}
{{ '%-16s'|format(record.name) }} IN      A       {{ record.ip }}
{% endfor %}